global:
  scrape_interval:     30s
  evaluation_interval: 30s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    file_sd_configs:
    - files:
      - /tmp/prometheus-targets.json

  - job_name: 'coredns'
    static_configs:
    - targets: ['pi2.cluster.rafael:9153']
